<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34513066009-au5vv9b733j7nmtsudi6d4grdul83stk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34513066009-au5vv9b733j7nmtsudi6d4grdul83stk</string>
	<key>API_KEY</key>
	<string>AIzaSyB1XhV2pMHWnB1nIaifYATTdES1HRyEVxs</string>
	<key>GCM_SENDER_ID</key>
	<string>34513066009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Host.appFirebaseFinal</string>
	<key>PROJECT_ID</key>
	<string>appfinalfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>appfinalfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34513066009:ios:545610d0c328085f98b288</string>
</dict>
</plist>